body{
    background-color:#073158;
}
ul{
	list-style-type:none;
}
p{
	color: rgb(175, 14, 14);
}
.sidenav{
	height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
	overflow:hidden;
    transition: 0.5s;
    padding-top: 60px;
	width: 0;
}
.sidenav p{
	padding:10px;
}
.sidenav .closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}
nav{
    background-color: #365777;
	padding:5px;
	font-size:1.5em;
	text-align:right;
	
}
nav p{
	text-align:left;
	font-size:1em;
	color:white;
	padding:0px;
	margin:0;
}
nav ul li{
	display:inline;
	padding: 15px;
	text-align:center;	
}

a:link{
	text-decoration:none;
	color:white;	
}
a:visited{
	color:white;
	text-decoration:none;	
}
a:hover{
	color:maroon;
	text-decoration:none;
}
footer{
	background-color:#12212F;
	font-size:.8em;
	padding:15px;
	color:white;
	text-align:center;
	margin-top:15px;
}

.title{ grid-area:head;}
.menu{ grid-area:nav;}
.content{ grid-area:main;}
.extra{ grid-area:aside;}
.details{ grid-area:details;}
.images{ grid-area:images;}
.contact{ grid-area:foot;}

/* For mobile phones: */

	.grid-container{
		display:grid;
		grid-template-areas:
		'head head head'
		'nav nav nav'
		'main main main'
		'aside aside aside'
		'details details details'
		'images images images'
		'foot foot foot';
		grid-gap:0px;
		padding:4px;
	}

/* For tablets: */
@media only screen and (min-width:481px) {
	.grid-container{
		display:grid;
		grid-template-areas:
		'head head head'
		'nav nav nav'
		'main main main'
		'aside aside aside'
		'details details details'
		'images images images'
		'foot foot foot';
		grid-gap:0px;
		padding:5px;
	}
}

/* For desktop: */
@media only screen and (min-width: 769px) {
	.grid-container{
		display:grid;
		grid-template-areas:
		'head head head head head head'
		'nav main main main main aside'
		'nav main main main main aside'
		'details details details details details details'
		'images images images images images images'
		'foot foot foot foot foot foot';
		grid-gap:0px;
		padding:10px;
		
	}
}